PORT=3000
PUBLIC_BASE_URL=https://remote.c3protect.com.br
GATEWAY_API_KEY=gere-uma-chave-aleatoria-com-pelo-menos-32-caracteres
ALLOWED_ORIGINS=https://c3-protect-remote.yan-nobrega.chatgpt.site
ALLOWED_SSH_CIDRS=172.18.18.0/24,172.17.17.0/24
ALLOWED_SSH_PORTS=22333
SSH_TARGET_TRANSLATIONS=172.18.18.0/24=192.0.2.0/24,172.17.17.0/24=192.0.3.0/24
SESSION_TOKEN_TTL_SECONDS=60
SSH_CONNECT_TIMEOUT_SECONDS=10
PROBE_TIMEOUT_SECONDS=3
PROBE_CONCURRENCY=20
MAX_PROBE_TARGETS=250
SSH_SESSION_MAX_SECONDS=7200
MAX_PENDING_SESSIONS=100
MAX_ACTIVE_SESSIONS=20
